{% extends 'mainpages/base.html' %}

{% block content %}
<section class="font-weight-bold">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-sm rounded-lg card-registration bg-light">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-1 text-center"><b>Add Movie</b></h3>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-6 mb-4">
                  <div class="form-group">
                    <label class="form-label" for="moviename">Movie Name</label>
                    {{addmovie.movie_name}}
                  </div>
                </div>
                <div class="col-6 mb-4">
                  <div class="form-group">
                    <label class="form-label" for="duration">Duration</label>
                    {{addmovie.duration}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6 mb-4">
                  <div class="form-group">
                    <label for="image" class="form-label">Image</label>
                    {{addmovie.image}}
                  </div>
                </div>
                <div class="col-6 mb-4">
                  <div class="form-group">
                    <label for="video" class="form-label">Trailer</label>
                    {{addmovie.trailer}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6 mb-4">
                  <div class="form-group">
                    <label class="form-label" for="date">Date</label><br>
                    {{addmovie.date}}
                  </div>
                </div>
                <div class="col-6 mb-4">
                  <div class="form-group">
                    <label class="form-label" for="time">Time</label><br>
                    {{addmovie.time}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6 mb-4">
                  <div class="form-group">
                    <label class="form-label" for="language">Language</label><br>
                    <div class="form-check">
                      {% for language in addmovie.language.field.choices %}
                      <input class="form-check-input" type="checkbox" id="id_lang_{{ forloop.counter0 }}" name="language" value="{{ language.0 }}" {% if language.0 in addmovie.language.value %}checked{% endif %}>
                      <label class="form-check-label" for="id_lang_{{ forloop.counter0 }}">{{ language.1 }}</label><br>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col-6 mb-4">
                  <div class="form-group">
                    <label class="form-label" for="genre">Genre</label><br>
                    <div class="form-check">
                      {% for genre in addmovie.genre.field.choices %}
                      <input class="form-check-input" type="checkbox" id="id_genre_{{ forloop.counter0 }}" name="genre" value="{{ genre.0 }}" {% if genre.0 in addmovie.genre.value %}checked{% endif %}>
                      <label class="form-check-label" for="id_genre_{{ forloop.counter0 }}">{{ genre.1 }}</label><br>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mt-4">
                  <button type="submit" class="btn btn-success btn-block">Add Movie</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
